@font-face {
    font-family: FuturaBook;
    src: url(../fonts/Futura\ Book.ttf);
  }
@font-face {
    font-family: FuturaPT;
    src: url(../fonts/FuturaPTDemiOblique.otf);
  }

  body{
    font-family: FuturaPt;
    overflow-x: hidden;
}
.navbar-brand{
    font-family: FuturaPT;
    font-size: 1em;
}
.navbar{
    font-size: 2em;
    background-color: white !important;
}

.centerText{
  text-align: center;
}

.whiteText{
  color: white !important;
}



/* MENU */
#hamb{
  z-index: 100;
}
#hamb:hover{
    cursor: pointer;
    color: #838282;
  }

#menu{
  z-index: 110;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: black;
  padding: 1%;
  display: none;
}

.menuAppear{
  width: 100vw;
  animation-name: appear;
  animation-duration: 2s;
}

@keyframes appear {
  from {width: 0vw;}
  to {width: 100vw;}
}


#exitMenu{
  color: white;
  float: right;
  font-size: 2em;
}

#exitMenu:hover{
  cursor: pointer;
}

.menuText:hover{
  text-decoration: none;
}

.menuText{
  font-size: 3em;
  display: none;
}
.menuItems{
  margin-top: 20%;
}

.menuText:hover{
  cursor: pointer;
}

#serviciosItem{
  margin-top: 5%;
} 
#portfolioItem{
  margin-top: 10%;
} 
#contactoItem{
  margin-top: 15%;
} 
#nosotrosItem {
  margin-top: 20%;
}



/* MENU */