/* TRAZADOS */

.rayas{
    position: absolute;
  }
  #rayas1{
    top: 55vh;
    right: -6vw;
    z-index: 1;
    transform: rotate(90deg);
  }
  .trazado{
    width: 5vw !important;
    /* transform: rotate(270deg); */
}
/* TRAZADOS */

body{
    background-color: black !important;
    overflow-y: hidden;
    overflow-x: hidden;
}
.navbar{
    background-color: black !important;
}
.navbar-brand{
    color: white !important;
}
#hamb{
    color: white !important;
}
#hamb:hover{
    color: gray !important;
}

#redes{
    /* margin-top: 20vh; */
    text-align: center;
}

#redes h3{
    margin-top: 15%;
    font-size: 1.3vw;
}

#contenedor{
    height: 80vh;
    padding: 0vh 22vw 0 22vw;
    margin-top: 20vh;
}
#texto{
    margin-top: 4vh;
}

h3{
    font-size: 1.6vw;
}
svg{
    width: 100%;
}
#title{
    color: white !important;
    font-size: 20vh !important;
  }
#title:hover{
    color: black;
    -webkit-text-fill-color: rgba(0,0,0,0); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
}

#resumen{
    font-family: FuturaBook;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

#instagram{
    margin-top: -5vh;
}
#mail{
    margin-top: -10vh;
}
#twitter{
    margin-top: -15vh;
}
#facebook{
    margin-top: -20vh;
}

.icon:hover{
    filter: invert(0.5) sepia(1) hue-rotate(200deg); 
    -webkit-transform: rotate(25deg);
 -moz-transform: rotate(25deg);
 -o-transform: rotate(25deg);
  transform: rotate(25deg);
 -webkit-transition-duration: 1s;
 -moz-transition-duration: 1s;
 -o-transition-duration: 1s;
  transition-duration: 1s;
}