@font-face {
    font-family: FuturaBook;
    src: url(../fonts/Futura\ Book.ttf);
  }
@font-face {
    font-family: FuturaPT;
    src: url(../fonts/FuturaPTDemiOblique.otf);
  }

  body{
      font-family: FuturaPt;
      overflow: hidden;
  }

  #texto{
      font-family: FuturaBook;
      font-size: 1.3vw;
      text-align: right;
      position: absolute;
      z-index: 100;
      width: 18vw;
      top: 53vh;
      left: 13vw;
      
  }

  #imagen{
      width: 900%;
      display: inline;
      /* position: relative; */
  }

  #titulo{
    z-index: 100;
    display: inline-block;
    font-size: 9vw;
    position: absolute;
    left: 14%;
    top: 32vh;
  }
  #titulo{
    color: black;
    -webkit-text-fill-color: rgba(0,0,0,0); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
  }
  /* #titulo:hover{
    color: black;
    -webkit-text-fill-color: rgba(0,0,0,0); 
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
  } */
  #sobreImg{
      /* padding-top: 5%; */
  } 

  #verticalText{
    position: absolute;
    transform: rotate(90deg);
    font-size: 1.5vw !important;
    right: -1vw;
    top: 65vh;

  }

  #sobreVert{
    /* padding-left: 6% !important; */
  }

  #rayas{
      position: absolute;
      bottom: 70%;
      left: 65%;
      
    }
    .trazado{
        width: 10% !important;
        transform: rotate(180deg);
  }
  svg{
      display: inline-block;
  }
  #fila{
      padding-top: 4%;
  }

  img{
    position: absolute;
    width: 55vw !important;
    height: 75vh;
    top: 10vh;
    right: 10vw;
  }
