/* TRAZADOS */

.rayas{
    position: absolute;
  }
  #rayas1{
    top: 15vh;
    left: -8vw;
    z-index: 1;
    transform: rotate(90deg);
  }
  .trazado{
    width: 5vw !important;
    /* transform: rotate(270deg); */
}
/* TRAZADOS */

body{
    background-color: black !important;
    overflow-y: hidden;
    overflow-x: hidden;
}

.navbar{
    background-color: black !important;
}
.navbar-brand{
    color: white !important;
}
.overImage{
    padding: 0 !important;
}

#contenedor{
    padding: 5%;
    padding-right: 24%;
    padding-top: 2%;
}

.overImage{
    height: 68vh;
}
img{
    height: 100%;
}

#over1Image{
    text-align: right;
    z-index: 100;
}
#over2Image{
    margin-left: -2.5vw;
    margin-top: 5vh;
}
#img1{

}
#img2{
    margin-left: 11vw;
    position: relative;
}

#texto{
    padding-top: 16%;
    padding-left: 20%;
    /* padding-top: 20vh;
    padding-left: 30vw; */
    font-size: 1.5vw;
    text-align: right;
    visibility: hidden;
    font-family: FuturaBook;
}
#texto1{
    padding-top: 16%;
    padding-left: 20%;
    /* padding-top: 20vh;
    padding-left: 30vw; */
    font-size: 1.5vw !important;
    text-align: right;
    padding-right: 15px;
    font-family: FuturaBook;
}

#title{
    color: white !important;
    font-size: 10vw !important;
    width: 100%;
    position: absolute;
    top: 69vh;
    left: 18vw;
    z-index: 110;
  }
#title:hover{
    color: black;
    -webkit-text-fill-color: rgba(0,0,0,0); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
}

#verticalText{
    color: white !important;
    position: absolute;
    transform: rotate(90deg);
    right: -42vh;
    font-weight: bolder !important;
    /* bottom: 18vh; */
    bottom: -16vh;
    font-size: 2vw !important;
  }

  .upwards{
    margin-top: 50vh;
  }
  .downwards{
    margin-top: -50vh;
  }

  #texto1{
    position: absolute;
    top: 0vh;
    left: 50vw;
    padding-top: 5%;
    padding-left: 32%;
    /* padding-top: 20vh;
    padding-left: 30vw; */
    font-size: 1.3vw;
    text-align: right;
    padding-right: 15px;

  }

  #hamb{
      color: white !important;
  }
  #hamb:hover{
      color: gray !important;
  }