/* TRAZADOS */

.rayas{
    position: absolute;
  }
  #rayas1{
    top: -18vh;
    left: 65vw;
    z-index: 1;
  }
  #rayas2{
    width: 40vw;
    bottom: -20vh;
    left: 15vw;
  }
  .trazado{
    width: 10% !important;
    transform: rotate(180deg);
}
/* TRAZADOS */
#title:hover{
  color: black;
  -webkit-text-fill-color: rgba(0,0,0,0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}


#title{
  margin-top: 6vh;
  font-size: 10vw !important;
  /* width: 100%; */
}
body{
  overflow-y: hidden;
}
.textoServicio{
  text-align: left;
  font-size: 1.1vw;
  font-family: FuturaBook !important;
}

#textoAsesoria{
  text-align: right !important;
}
#linea1{
  height: 2vh;
}
#linea2{
  height: 5vh;
}
#linea3{
  height: 4vh;
}
#linea4{
  height: 5vh;
}
#listServicios{
  /* margin-top: 4%; */
}

#contenedor{
  padding: 0 7% 0 7%;
}

.servicio{
  padding: 3%;
}

.linea{
  width: 100%;
}

.titleUp{
  font-size: 2.3vw;
  position: absolute;
  margin-top: 120%;
  /* left: 8vw; */
}
.titleUpInv{
  font-size: 2.3vw;
  visibility: hidden;
}

.titleDown{
  font-size: 2.3vw;
  position: absolute;
  margin-top: -120%;
  /* left: 8vw; */
}
.titleDownInv{
  font-size: 2.3vw;
  visibility: hidden;
}
#dGrafico{
  left: 4.3vw;
}